
<form #adminForm="ngForm">
  <div>
  <div class="sidenav" >
    <div style="left: 40px; display:block">
      <h2 style="left: 10px; position: relative"> {{indicator}} </h2>
      <div>
      <button class="btn btn-link" (click)="viewHome()" id="button0" >Home </button>
      </div>
      <button class="btn btn-link" (click)="viewDashboard()" >Dashboard</button>
      <button class="btn btn-link" (click)="viewUserList()" id="button1" *ngIf="access == 1 || access == 2">User list</button>
      <button class="btn btn-link" (click)="viewLog()" style="display: block" id="button2" *ngIf="access == 1 || access ==2">User log</button>
      <button class="btn btn-link" (click)="viewCoA()" style="display: block" id="button3" >Chart of accounts</button>
      <!--Admin can access the journal just for testing purposes -->
      <button class="btn btn-link" (click)="viewJournal()" style="display: block" id="button4" *ngIf="access == 3 || access == 2" >Journal</button>
      <button class="btn btn-link" (click)="viewGLedger()" style="display: block" id="button6" *ngIf="access == 3 || access == 2">General Ledger</button>
      <button class="btn btn-link" (click)="dropdownToggle = !dropdownToggle" id="button8" *ngIf="access == 3 || access == 2" >Reports</button>

      <div class="drop">
      <div class = "container-fluid" *ngIf="dropdownToggle == true" style="background-color: #3944cb; width: 200px; position: relative;">
        <button class="btn btn-link" (click)="viewTrialBalance()" style="white-space: normal;text-align: left; display: block">Unadjusted Trial Balance</button>
        <button class="btn btn-link" (click)="viewAdjustedTrialBalance()" style="white-space: normal;text-align: left; display: block">Adjusted Trial Balance</button>
        <button class="btn btn-link" (click)="viewIncomeStatement()" >Income Statement</button>
        <button class="btn btn-link" (click)="viewRetainedEarnings()" style="white-space: normal; text-align: left">Statement of Retained Earnings</button>
        <button class="btn btn-link" (click)="viewBalanceSheet()" style="display: block">Balance Sheet</button>
        <button class="btn btn-link" (click)="viewPostClosingTrialBalance()" style="white-space: normal; text-align: left; display:block" >Post Closing Trial Balance</button>
      </div>
      </div>
      <button class="btn btn-link" (click)="logOut()" id="button5" style="display: block">Log out</button>

    </div>
  </div>
    <div class="right">
      <router-outlet></router-outlet>
    </div>
  </div>
</form>
